.app {
  width: 100%;
  max-width: 50%;
  margin: auto;
}

.bg-image {
  position: fixed;
  top: 0vh;
  left: 2vw;
  z-index: -3;
  filter: blur(14px);
  width: 47%;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin: 1rem;
}

.sub-heading {
  font-size: 1.25rem;
  color: black;
  text-decoration: underline;
  margin: 1rem;
}

.input {
  display: flex;
  margin: 1rem;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #1a202c;
  transition: transform 0.3s;
}

.input:hover {
  transform: scale(1.05);
}

.check {
  margin-right: 1rem;
}

.content>p {
  font-size: 1.5rem;
  color: whitesmoke;
  margin-top: 9%;
}

.content p.line-through {
  text-decoration: line-through;
}

.cross {
  margin-left: auto;
}

.add-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: fixed;
  width: 80%;
}

.add-button-inner {
  position: fixed;
  top: 60px;
  right: 3vw;
  padding: 1.5rem;
  border-radius: 25%;
  background-color: #1a202c;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button-inner:hover {
  background-color: #2d3748;
}

.modal-heading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

.input-field {
  background-color: white;
  outline: none;
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.add-button-modal {
  background-color: transparent;
  color: #3182ce;
  font-weight: bold;
  border: 2px solid #3182ce;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.add-button-modal:hover {
  background-color: #3182ce;
  color: white;
}

#uncheck {
  font-size: 1.9rem;
  color: red;
  margin-top: 50%;
}

#check {
  font-size: 1.9rem;
  color: green;
  margin-top: 50%;
}

#logoutBtn{
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 22rem;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
}